# Configuration file

####################
# ocanglerfish
####################

ocanglerfish {
    S:biomegroups <OCANGLERFISH_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=7
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


####################
# occannibal
####################

occannibal {
    S:biomegroups <OCCANNIBAL_DEFAULT>
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=8
    I:maxLightlevel=-1
    I:maxSpawn=0
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# occrab
####################

occrab {
    S:biomegroups <OCCRAB_DEFAULT>
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# ocfishy
####################

ocfishy {
    S:biomegroups <OCFISHY_DEFAULT>
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


####################
# ockingcrab
####################

ockingcrab {
    S:biomegroups <OCKINGCRAB_DEFAULT>
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=8
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# ocorca
####################

ocorca {
    S:biomegroups <OCORCA_DEFAULT>
    B:canSpawn=true
    I:frequency=4
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


####################
# ocrog
####################

ocrog {
    S:biomegroups <OCROG_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=7
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


####################
# ocseagull
####################

ocseagull {
    S:biomegroups <OCSEAGULL_DEFAULT>
    B:canSpawn=false
    I:frequency=100
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# ocseaturtle
####################

ocseaturtle {
    S:biomegroups <OCSEATURTLE_DEFAULT>
    B:canSpawn=true
    I:frequency=16
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=7
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=5
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


####################
# ocshark
####################

ocshark {
    S:biomegroups <OCSHARK_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


####################
# ocwhale
####################

ocwhale {
    S:biomegroups <OCWHALE_DEFAULT>
    B:canSpawn=true
    I:frequency=4
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


