# Configuration file

general {
    # nullEnables Fence Gate to use the texture of the blocks surrounding them.  
    B:config.enableCamoFenceGate=true
    B:config.enableMixedBlocks=true
    B:config.enableVanishingBlocks=true

    # nullAleatoriamente los marcos se desestabilizan y se desplazan fuera de esta dimensión. 
    B:config.enableVanishingGlitch=true

    # nullPermite colocar la base del bloque donde miras en vez de la cara en la que lo estás colocando. Usa shift para invertir la colocación de bloques. 
    B:config.enhancedMixedBlockPlacement=true

    # nullPermitir animaciones para puertas, puertas de vallas y escotillas. Esto reemplaza completamente las puertas; pueden surgir conflictos si otro mod trata de modificarlas también. 
    B:config.modifyVanillaDoors=true

    # nullPermite un renderizado de Bloques Mixtos menos detallado. Habilita esta opción si experimentas problemas de z-fighting o glitchs en el renderizado. 
    B:config.simpleMixedBlockRendering=false

    # nullQué tan frecuente es la inestabilidad de los marcos fantasma. 
    D:config.vanishingGlitchChance=5.0E-4
}


