# Configuration file

####################
# entitybustblazemob
####################

entitybustblazemob {
    S:biomegroups <ENTITYBUSTBLAZEMOB_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustcavespider
####################

entitybustcavespider {
    S:biomegroups <ENTITYBUSTCAVESPIDER_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustenderman
####################

entitybustenderman {
    S:biomegroups <ENTITYBUSTENDERMAN_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybusthelldog
####################

entitybusthelldog {
    S:biomegroups <ENTITYBUSTHELLDOG_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=10
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustpigzombie
####################

entitybustpigzombie {
    S:biomegroups <ENTITYBUSTPIGZOMBIE_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustskeletonmob
####################

entitybustskeletonmob {
    S:biomegroups <ENTITYBUSTSKELETONMOB_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustspidermob
####################

entitybustspidermob {
    S:biomegroups <ENTITYBUSTSPIDERMOB_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustwitch
####################

entitybustwitch {
    S:biomegroups <ENTITYBUSTWITCH_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitybustzombiemob
####################

entitybustzombiemob {
    S:biomegroups <ENTITYBUSTZOMBIEMOB_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=0
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitydemon
####################

entitydemon {
    S:biomegroups <ENTITYDEMON_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=8
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# entitysandwitch
####################

entitysandwitch {
    S:biomegroups <ENTITYSANDWITCH_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


